body{
    font-family: Arial;
}

.goldbox{
    display: inline-block;
    text-align: center;
    border: 2px outset black;
    padding: 10px;
    width: 20%
}

#activities{
    border : 2px outset black;
    height: 200px;
    overflow: scroll;
}

.act{
    margin: 3px 5px;
}